.TodoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

.TodoListHeader {
    font-size: 16pt;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    padding-block: 1rem;
}

.TodoListHeader h4 {
    margin: 0;
}

.TodoListSection {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TodoListSection .TodoList {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0;
    padding-inline: 2rem;
    width: 100%;
}