.TodoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

.TodoListSection {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TodoListSection .TodoList {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0;
    padding-inline: 2rem;
    width: 100%;
}