body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(204, 200, 200, 0.623);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TodoListHeader {
  display: flex;
  justify-content: center;
  font-size: 16pt;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  padding: 1rem 0rem 0.3rem 0rem;
}

.TodoListHeader h4 {
  margin: 0;
}